pp-reader-dashboard {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  --dashboard-width: 100%;
  position: relative;
  width: var(--dashboard-width);
  height: 100%;
  overflow-y: auto;
}

.scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Momentum-Scrolling aktivieren */
}

@media (max-width: 600px) {
  .meta {
    flex-direction: column;
  }
  table, th, td {
    font-size: 0.9rem;
  }
}
