html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* Für natives Scrollen auf iOS */
}

pp-reader-dashboard {
  display: block;
  padding: 1rem;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  position: relative;
  height: 100%;
  overflow: auto;
}

.scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Momentum-Scrolling aktivieren */
}

.tab-content {
  overflow: auto; /* Scrollen ermöglichen */
  position: relative; /* Notwendig für Sticky-Elemente */
  height: 100%;
}

@media (max-width: 600px) {
  .meta {
    flex-direction: column;
  }
  table, th, td {
    font-size: 0.9rem;
  }
}
