.pp-reader-dashboard.dark-mode {
  background: #1e1e1e;
  color: #e0e0e0;
}

.pp-reader-dashboard.dark-mode .card {
  background: #2c2c2c;
}

.pp-reader-dashboard.dark-mode th {
  background: #2c2c2c;
  color: #fafafa;
}

.pp-reader-dashboard.dark-mode tbody tr:nth-child(odd) {
  background: #1a1a1a;
}

/* Tabellenzeilen beim Mouseover im Dark-Mode */
.pp-reader-dashboard.dark-mode tbody tr:hover {
  background-color: #4a4a4a; /* Helles Grau */
}

.pp-reader-dashboard.dark-mode .footer-row td {
  background: #2c2c2c;
  color: #fafafa;
}

.pp-reader-dashboard.dark-mode h2 {
  border-left-color: #90caf9;
}

.pp-reader-dashboard .positive {
  color: #4caf50;
}

.pp-reader-dashboard .negative {
  color: #f44336;
}

.pp-reader-dashboard.dark-mode .meta div strong {
  color: #e0e0e0;
}

.pp-reader-dashboard.dark-mode .header-card {
  background: #1b06db;
  color: #fafafa;
}

.pp-reader-dashboard.dark-mode .header-card .meta div strong {
  color: #e0e0e0;
}

/* Header im Dark Mode */
.panel-root.dark-mode .header {
  background-color: var(--app-header-background-color, #202C39); /* Dunkler Hintergrund */
  color: var(--primary-text-color, #FFFFFF); /* Weiße Schrift */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Dunklerer Schatten */
}

/* Menü-Button im Dark Mode */
.panel-root.dark-mode .header .menu-button {
  color: var(--primary-text-color, #FFFFFF); /* Weiße Schrift */
}

/* Menü-Icon im Dark Mode */
.panel-root.dark-mode .header .menu-icon {
  fill: var(--primary-text-color, #FFFFFF); /* Weiße Füllung */
}

/* Titel im Dark Mode */
.panel-root.dark-mode .header .title {
  color: var(--primary-text-color, #FFFFFF); /* Weiße Schrift */
}
